.notfound{
    text-align: center;
    padding-top: 40px;

    h1{
        font-size: 100px;
        margin-bottom: -30px;
    }

    a{
        text-decoration: none;
        color: var(--gray);
        border-bottom: 2px solid var(--highlight);
    }
}